---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Henrique Silva. Todos os Direitos Reservados.
  </div>
  <a href="https://www.netlify.com" rel="noopener noreferrer" class="footerLogoLink_BH7S"><img src="https://www.netlify.com/v3/img/components/netlify-color-accent.svg" alt="Deploys by Netlify" class="footer__logo themedComponent_mlkZ themedComponent--light_NVdE"></a>
</footer>
<style>

</style>
