---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "@astrojs/image/components";
import SideBarMenu from "./SideBarMenu.astro";
const { sideBarActiveItemID } = Astro.props;
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside class="px-8 pt-2 h-auto min-h-full w-[20rem] bg-base-300 text-base-content flex flex-col">
    <div class="w-fit mx-auto mt-5 mb-6">
      <a href="/">
        <div class="avatar transition ease-in-out hover:scale-[62%] block m-auto">
          <div class="w-[9.5rem]">
            <Image class="mask mask-circle" aspectRatio="3:3" format="webp" width={300} height={300} src="/profile.webp" alt="Profile image" />
          </div>
        </div>
      </a>
    </div>
    <div class="pb-5 mt-1">
      <div class="text-2xl text-left"><span class="font-bold">Henrique Silva</span></div>
      <div class="text-1xl py-1 text-left">Desenvolvedor Full Stack 💻 </div>
      <div class="text-1xl py-0 text-left"><small>Anápolis, Goiás, Brasil - </small>  <small class="font-bold"><a href="mailto:contato@henriquesilva.dev">Contato</a></small></div>
      <!-- <div class="py-2">
        <text class="text-3xl py-2">
          <i>"One is glad to be of service."</i>  
        </text>
        <p> - Robin Williams | Bicentennial Man (1999) </p>
      </div> -->
      <!-- <p class="text-justify" style="padding: 15px">
        Sou um desenvolvedor autodidata que fez a transição da administração de empresas para o desenvolvimento web há +7 anos. 
        A maior parte da minha experiência vem de trabalhar como desenvolvedor full-stack (embora um pouco mais voltado para back-end) 
        em empresas de diferentes tamanhos e em vários setores, como educação, saúde, financeiro e governo. 
        Gosto de escrever código limpo e sustentável, resolver problemas complexos e trocar conhecimento com meus colegas.
      </p> -->
      <ul>
        <!-- <li style="display: inline"><img alt="Bash" style="display: inline" src="https://camo.githubusercontent.com/df343683403029302e32a30aed6e38946143a816fb8db69331a208a27c870e03/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f426173682d3132313031312e7376673f6c6f676f3d676e752d62617368266c6f676f436f6c6f723d7768697465" data-canonical-src="https://img.shields.io/badge/Bash-121011.svg?logo=gnu-bash&amp;logoColor=white" style="max-width: 100%;"></li> -->
        <!-- <li style="display: inline"><b>/Users/henriquesilvadev</b></li> -->
        <!-- <li style="display: inline"> <img alt="JavaScript" style="display: inline" src="https://camo.githubusercontent.com/9a794a64d79bb070a8009cf27eb31c989d09d43a65f95362c88ed6c28218319b/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4a6176615363726970742d4637444631452e7376673f6c6f676f3d6a617661736372697074266c6f676f436f6c6f723d626c61636b" data-canonical-src="https://img.shields.io/badge/JavaScript-F7DF1E.svg?logo=javascript&amp;logoColor=black" style="max-width: 100%;"></li> -->
        <!-- <li style="display: inline"> </li><img alt="Node.js" style="display: inline" src="https://camo.githubusercontent.com/03d91be86cc33b72b22f8e84f2706a0a91ab0fca763566745ea6e3f72562811e/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4e6f64652e6a732d3433383533442e7376673f6c6f676f3d6e6f64652e6a73266c6f676f436f6c6f723d7768697465" data-canonical-src="https://img.shields.io/badge/Node.js-43853D.svg?logo=node.js&amp;logoColor=white" style="max-width: 100%;"></li> -->
      </ul>
      <br />
      <p class="text-justify">
        Desenvolvedor de software focado em entregar código com eficiência, 
        evitando bloqueios para o time. Atualmente, estudando a criação de 
        assistentes conversacionais com inteligência generativa.s
      <br /><br />
        <small>
          <i>
            <b>"Não estudamos para a escola, mas para a vida"</b> – Sêneca.
          </i>
        </small>
      </p>
      <!-- <div class="pb-12 mt-5">
        <br />
        <a class="btn btn-outline ml-5" href="https://www.linkedin.com/in/henriquesilvadev/" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><circle cx="4.983" cy="5.009" r="2.188"></circle><path
                d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
            ></path>
          </svg>
          LinkedIn</a>
        <a href="https://github.com/henriquehsilva" target="_blank" class="btn btn-outline ml-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
            ></path>
          </svg>
          GitHub
        </a>
      </div>-->
      
      <!-- <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} /> -->
    </div>
    <SideBarFooter />
  </aside>
</div>
